.header-label-ccboston {
	font:normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif!important; 
	color:#000; 
	letter-spacing:8px; 
	text-transform:uppercase; 
	margin-left: 30px;
}

.ccboston h3, .ccboston-h3{
	font: normal 18px Georgia, "Times New Roman", Times, serif !important; 
	color:#60762f !important; 
	margin-bottom:12px;
}

.ccboston li, p{
	font: 12px Verdana, Geneva, sans-serif;
	color: #302a24;
}

.ccboston p{
	line-height:18px; margin-bottom:18px;
}

.ccboston img .ng-enter{
	display: block;
}

.ccboston img .ng-leave{
	display: none;
}

.ccboston .impt{
	font: 12px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

/** SLIDER **/
	
.ccboston-slider .arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.ccboston-slider .arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.8;
    transition: all 0.2s linear 0s;
}
.ccboston-slider .arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.8;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.ccboston-slider .arrow.prev:hover{
    opacity:1;
}
.ccboston-slider .arrow.next:hover{
    opacity:1;
}

.ccboston-slider .nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.ccboston-slider .nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 39px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.ccboston-slider .nav li.active {
    border: 5px solid #FFFFFF;
}
.ccboston-slider .nav li img {
    width: 100%;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 830px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 900px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 312px;
        width: 500px;
    }
    .slider .slide {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 188px;
        width: 300px;
    }
    .slider .slide {
        width: 100%;
    }
    .ccboston-slider .nav {
        height: 28px;
    }
    .ccboston-slider .nav li {
        border: 3px solid #AAAAAA;
        border-radius: 3px;
        height: 15px;
        width: 25px;
    }
}
